body {
	background: #dedbdd;
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	line-height: 100%;
}

#wrapper {
	width: 800px;
	margin: 30px auto;
	padding: 10px 20px;
	background: white;
	border: 1px solid #777;
	box-shadow: 0 13px 8px -10px rgba(0,0,0, 0.4);
}
#wrapper h1 {
	font-size: 3em;
}
#wrapper a {
	color: #f23a00;
}
#wrapper header p {
	font-size: 1.5em;
}
#wrapper section {
	padding: 10px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font: 1.3em/1.5em;
}
#wrapper p.notice {
	padding: 10px;
	background: #f6ffdc;
	border: 1px solid #aa9c7a;
	color: #24445a;
}
#wrapper ol {
	list-style: decimal;
}
#wrapper ul {
	list-style: square;
}
#wrapper li {
	font-size: 1.3em;
	line-height: 1.5em;
}
#wrapper ul.changelog {
	font-size: 0.7em;
}

input, select {
	font-size: 1.5em;
}


#wrapper footer {
	font-size: .8em;
	color: #444;
}
#wrapper footer a {
	color: #205a39;
}
#wrapper footer a:hover {
	color: #379862;
}