#vertab {
	position: fixed;
	left: -280px; top: 20px;
	width: 300px;
	z-index: 2147483647;
	overflow: hidden;
	box-sizing: border-box;
	word-break: break-all;

	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4;
	-o-transition: all .4s;

	background: #DDD;
	border: 1px solid #888;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0, .4);

	font-family: sans-serif;
	color: #222;
	text-align: right;
	text-shadow: none;
}
#vertab:hover {
	left: 0;
}

#vertab h1 {
	margin: 0 0 20px 0;
	font-size: 12px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #666;
	text-shadow: none;
}

#vertab ul {
	list-style: none;
	font-size: 12px;
}
#vertab li {
	padding: 10px;
	border-bottom: 1px solid #AAA;
	font-weight: bold;
	color: #222;
}
#vertab li:hover {
	cursor: pointer;
	background: #AAA;
}
#vertab li:first-child {
	border-top-right-radius: 10px;
}
#vertab li:last-child {
	border-bottom-right-radius: 10px;
	border-bottom: none;
}
