#vertabs * {
	box-sizing: border-box;
	margin: 0; padding: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4;
	-o-transition: all .4s;
}
#vertabs {
	position: fixed;
	left: -280px; top: 20px;
	width: 300px;
	max-height: 600px;
	z-index: 2147483647;
	overflow-y: scroll;

	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4;
	-o-transition: all .4s;

	background: #DDD;
	border: 1px solid #888;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);

	font-family: sans-serif;
	color: #222;
	text-align: right;
	text-shadow: none;
}
#vertabs:hover {
	left: 0;
}

#vertabs h1 {
	margin: 0 0 20px 0;
	font-size: 12px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #666;
	text-shadow: none;
}

#vertabs ul {
	list-style: none;

}
#vertabs li {
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #AAA;
	font-size: 14px;
	font-weight: bold;
	color: #222;
	line-height: 100%;
}
#vertabs li:hover {
	cursor: pointer;
	background: #BBB;
}
#vertabs li:first-child {
	border-top-right-radius: 10px;
}
#vertabs li:last-child {
	border-bottom-right-radius: 10px;
	border-bottom: none;
}
#vertabs li small {
	display: block;
	font-size: 10px;
	word-break: break-all;
	color: #666;
}