#vertbabs, #vertabs * {
	box-sizing: border-box;
	margin: 0; padding: 0;
	-webkit-transition: all .2s;
}
#vertabs {
	width: 300px;
	max-height: 500px;
	position: fixed;
	top: 35px;
	z-index: 2147483647;
	overflow-y: auto;
	background: #EEEEEE;
	border: 1px solid #666666;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #111111;
	text-align: left;
	text-shadow: 1px 1px 0 #DDD;
	-webkit-transition: all .4s;
	-webkit-user-select: none;
}
#vertabs.left {
	left: -290px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#vertabs.left[style]:hover {
	left: 0 !important;
}
#vertabs.right {
	right: -290px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#vertabs.right[style]:hover {
	right: 0 !important;
}
#vertabs ul {
	list-style: none;
}
#vertabs li {
	overflow: hidden;
	padding: 9px 5px;
	border-bottom: 1px solid #AAA;
	font-size: 14px;
	font-weight: bold;
	color: #222;
	line-height: 100%;
}
#vertabs li:hover {
	cursor: pointer;
	background: #DDDDDD;
	box-shadow: 0 0 7px #555555 inset;
}
#vertabs li.vertabs-new-tab {
	font-size: 1.2em;
	text-align: center;
}
#vertabs li.vertabs-new-tab:hover {
	color: #111;
}
#vertabs li:last-child {
	border-bottom: none;
}
#vertabs li:not(.vertabs-new-tab) span:before {
	content: attr(data-text);
}
#vertabs li small:before {
	content: attr(data-text);
}
#vertabs li img {
	width: 14px; height: 14px;
	vertical-align: bottom;
	margin: 0 4px 0 0;
}
#vertabs li small {
	display: block;
	margin-top: 4px;
	font-size: 0.85em;
	word-break: break-all;
	color: #666;
	text-shadow: none;
}
#vertabs li .vertabs-close-icon {
	width: 14px; height: 14px;
	float: right;
}
